.auth {
    width: 100vw;
    height: 100vh;
}

.auth__container {
    background-color: #F8FAFC;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid #d4ddeb;
    border-left: 1px solid #d4ddeb;
    padding: 3%;
    display: grid;
    grid-template-areas: 
        "logo"
        "content"
        ".";
    grid-template-rows: 1fr 10fr 3fr;
    
}

.auth__content {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.auth__logo {
    grid-area: logo;
}

.form__items {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form__title {
    font-weight:bold;
    font-size: 2.15rem;
    margin-bottom: 1.25rem;
}

.form__input {
    border: 1px solid #C5D1E0;
    background-color: #fff;
    width: 70%;
    
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.875rem;
}
.form__input.error {
    border: 1px solid #ef4444;
    animation: shake .2s ease;
}
.form__input input {
    width: 80%;
    border: none;
    background: none;
    outline: none;
    padding: 0.875rem;  
}

.form__input > img {
    width: 1.4rem;
    cursor: pointer;
}

.form__button {
    background-color: #4F46E5;
    color: #fff;
    width: 70%;
    padding: 0.875rem;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s ease;
}

.form__forgot__button {
    color: #4F46E5;
    cursor: pointer;
    width: fit-content;
}
.form__button:hover {
    background-color: #3128df;
}
.form__forgot__button:hover {
    text-decoration: underline ;
}

.auth__sloth img {
    width: 100%;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

@media (max-width: 1200px) {
    .form__button {
        width: 100%;
    }
    .form__input {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .form__title {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .auth__content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .auth__container {
        width: 100%;
    }

    .auth__sloth {
        width: 60%;
        margin: 0 auto;
    }
}