.profile {
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid #E2E8F0;
}

.header {
    background-color: #F8FAFC;
    font-size: 1.5rem;
    color: #1E293B;
    font-weight: 800;
    padding: 33px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #E2E8F0;
}

.title {
    margin-bottom: 22px;
    color: #1E293B;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.container {
    max-width: 915px;
    width: 100%;
    margin: 0 auto;
}

.mainContent {
    padding-top: 52px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 40px;
}

.leftCol,
.rightCol {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item {
    background-color: #F8FAFC;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    padding: 28px 32px;
    height: fit-content;
}

/* user */
.user {
    display: flex;
    align-items: center;
    gap: 21px;
    line-height: 25px;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: italic;
    position: relative;
}

.avatar {
    width: 72px;
    height: 72px;
}

.flag {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 20px;
    right: 20px;
}

/* people */
.stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat > p {
    font-size: 1rem;
    font-weight: 700;
    color: #1E293B;
}

.statValue {
    padding: 8px 0;
    width: 95px;
    text-align: center;
    border: 1px solid #A5B4FC;
    border-radius: 9px;
    color: #4F46E5;
    font-size: 0.875rem;
    font-weight: 600;
}

/* actions */
.actions {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.actions button {
    border: none;
    padding: 10px 25px;
    border-radius: 123px;
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
}

.blueButton {
    background-color: #4F46E5;
}

.notBlueButton {
    background-color: #1E293B;
}

.moreButton {
    background: none;
    margin-left: auto;
    padding: 0 !important;
}

/* favorites */
.favorites img {
    width: 20px;
    height: 20px;
}

.favItem {
    display: flex;
    flex-direction: row;
    gap: 26px;
    background-color: #1E293B;
    margin-bottom: 22px;
    border-radius: 13px;
    padding: 12px;
    color: #fff;

}

.favItem:last-child {
    margin-bottom: 0;
}

.favItem > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* skills */
.skills {
    height:100%;
}

.skills h3 {
    margin-bottom: 16px;
}

.skills div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #1E293B;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* або 3-4 колонки */
  gap: 10px 20px;
  width: 100%;
}

.skill {
  text-align: center;
  color: #1e293b;
  font-size: 15px;
  white-space: nowrap;
}



/* posts */
.posts {
    grid-column: 1 / -1;
    margin-bottom: 60px;
}

.postCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1400px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 860px) {
    .mainContent {
        padding-top: 52px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .rightCol {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .postCards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 560px) {
    .item {
        padding: 18px 15px;
    }
    .container {
        width: 92%;
    }
    .actions {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .rightCol {
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr;
    }
    .postCards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 415px) {
    .actions button {
        padding: 7px 15px;
    }
}