.addpost__right__upload {
    position: relative;
    grid-row: span 2;
    border-radius: 30px;
    border: 2px dashed #CBD5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 343px;
}

.addpost__right__upload.active {
    border-color: #4a90e2;
    background-color: rgba(74, 144, 226, 0.05);
    transition: border-color 0.2s;
}

.addpost__upload__center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.upload__center__img {
    background-color: #EEF2FF;
    display: flex;
    padding: 13px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.upload__center__text {
    font-size: 0.75rem;
    color: #475569;
}

.upload__center__button {
    font-size: 0.875rem;
    color: #4F46E5;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
}

.addpost__upload__footer {
    position: absolute;
    font-size: 0.625rem;
    color: #94A3B8;
    font-weight: 500;
    bottom: 10px;
}

.addpost__upload__hint {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 64px;
    height: 72px;
    display: grid;
}
.addpost__upload__hint > * {
  grid-area: 1 / 1;
}

.icon__cursor {
    justify-self: start;
    align-self: start;
}
.icon__file {
    justify-self: end;
    align-self: end;
}

.addpost__upload__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.addpost__upload__preview > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}