 
.home {
    width: 100%;
    background-color: #F8FAFC;
    border: 1px solid #d4ddeb;
}

.content {
    position: relative;
    width: 100%;
    padding: 0 10px;
}

.header {
    display: flex;
    align-items: center;
    
    height: 88px;
    background-color: #fff;
    border-bottom: 1px solid #d4ddeb;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.headerSearch {
    display: flex;
    align-items: center;
    
    gap: 10px;
    width: 60%;
    border: 1px solid #CBD5E1;
    border-radius: 25px;
    padding: 0 12px;
}

.headerSearch input {
    border: none;
    height: 100%;
    padding: 12px 0;
    flex: 1;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: #000;
    background: none;
}

.headerSearch img {
    cursor: pointer;
}

.headerSearch input::placeholder {
    font-size: 1rem;
    color: #000;
}

.headerButton button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 23px;
    background-color: #4F46E5;
    padding: 13px 20px;
    cursor: pointer;
    transition: .2s ease;
    will-change: transform;

}
.headerButton button:hover {
    opacity: 80%;
}

.menuButton {
    display: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    
}

.logoButton {
    box-shadow: 0px 4px 8px 0px rgba(79, 70, 229, 0.42);
    border-radius: 11px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    display: none;
}

.logoButton img{
    width: 20px;
    height: 20px;
}

.stories {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 128px;
    margin: 24px auto;
    flex-wrap: nowrap;

    background-color: #fff;
    max-width: 696px;
    border-radius: 40px;
    box-shadow: 3px 2px 9px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

.storiesWrapper {
    position: relative;
    max-width: 696px;
    margin: 24px auto;
}



.stories::-webkit-scrollbar {
  display: none;
}



@media (max-width: 1000px) {
    .headerButton {
        position: fixed;
        bottom: 40px;
        left: 30px;
        z-index: 1000;
        transform: none;
    }
    .headerButton button {
        padding: 30px;
        border-radius: 50%;
    }
    .headerButton button:hover {
        opacity: 100%;
    }

    .headerSearch {
        width: 80%;
    }

    .menuButton {
        display: block;
    }
    .logoButton{
        display: block;
    }
}