 
.home {
    width: 100%;
    background-color: #F8FAFC;
    border: 1px solid #d4ddeb;
}

.home__content {
    position: relative;
    width: 100%;
    padding: 0 10px;
}

.home__header {
    display: flex;
    align-items: center;
    
    height: 88px;
    background-color: #fff;
    border-bottom: 1px solid #d4ddeb;
}

.home__header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.home__header__search {
    display: flex;
    align-items: center;
    
    gap: 10px;
    width: 60%;
    border: 1px solid #CBD5E1;
    border-radius: 25px;
    padding: 0 12px;
}

.home__header__search input {
    border: none;
    height: 100%;
    padding: 12px 0;
    flex: 1;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: #000;
    background: none;
}

.home__header__search img {
    cursor: pointer;
}

.home__header__search input::placeholder {
    font-size: 1rem;
    color: #000;
}

.home__header__button button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 23px;
    background-color: #4F46E5;
    padding: 13px 20px;
    cursor: pointer;
    transition: .2s ease;
}
.home__header__button button:hover {
    opacity: 80%;
}

.home__header__menu__button {
    display: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    
}

.home__header__leftmenu__button {
    box-shadow: 0px 4px 8px 0px rgba(79, 70, 229, 0.42);
    border-radius: 11px;
    padding: 10px;
    display: flex;
    cursor: pointer;

    display: none;
}

.home__header__leftmenu__button img{
    width: 20px;
    height: 20px;
}



@media (max-width: 1000px) {
    .home__header__button {
        position: fixed;
        bottom: 40px;
        left: 30px;
        z-index: 1000;
        transform: none;
    }
    .home__header__button button {
        padding: 30px;
        border-radius: 50%;
    }
    .home__header__button button:hover {
        opacity: 100%;
    }

    .home__header__search {
        width: 80%;
    }

    .home__header__menu__button {
        display: block;
    }
    .home__header__leftmenu__button{
        display: block;
    }
}