.popover {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000000;
    width: 280px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    user-select: none;
}

.popover::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 5px;
}

.grid span {
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    transition: 0.2s ease;
}

.grid span:hover {
    transform: scale(108%);
}