
.story__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.story__avatar {
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.story__avatar img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.story__username {
    padding-top: 6px;
    color: #475569;
    font-weight: 600;
    font-size: 0.75rem;
}