.friends__main {
    display: flex;
}

.friends {
    width: 100%;
    height: 100vh;
    color: #1E293B;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
