.friends {
    width: 100%;
    background-color: #F8FAFC;
    border-left: 1px solid #E2E8F0;
    min-height: 100vh;
}

.container {
    max-width: 733px;
    width: 100%;
    margin-left: 55px;
}

.main {
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
}

.title {
    color: #1E293B;
}

.search {
    border: 1px solid #CBD5E1;
    border-radius: 123px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.search > input {
    border: none;
    background: none;
    outline: none;
    padding: 10px 0;
    color: #475569;
    font-size: 1rem;
    font-weight: 500;
}

.search > input::placeholder {
    color: #475569;
    font-size: 1rem;
    font-weight: 500;
}

.empty {
    font-size: 1.5rem;
    color: #1E293B;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 1300px) {
    .container {
        margin: 0 auto;
        max-width: 90%;
    }
}

