
.auth {
    width: 100vw;
    height: 100vh;
    background-color: #F8FAFC;
}

.auth__container {
    height: 93%;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    padding: 0 50px;
    border-top: 1px solid #CBD5E1;
}

.signin__footer__links {
    display: flex;
    align-items: center;
    gap: 23px;
    color: #4F46E5;
    font-size: 1rem;
}

.signin__footer__links>p {
    cursor: pointer;
}

.signin__footer__links>p:hover {
    color: #3933a3;
}

.signin__footer__title {
    color: #475569;
    font-size: 1rem;
}


.auth__main__button {
    width: 100%;
    background-color: #4F46E5;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1234px;
    cursor: pointer;
    transition: .2s ease;
}
.auth__main__button:hover {
    opacity: 80%;
}

.auth__title {
    text-align: center;
    margin-bottom: 8px;
}

.auth__title>h3 {
    font-size: 2.25rem;
    color: #1E293B;
    font-weight: bolder;
    letter-spacing: -1.4%;
    line-height: 44px;
    margin-bottom: 7px;
}

.auth__title>p {
    font-size: 1.125rem;
    color: #475569;
    line-height: 160%;
}

.signin__input__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.signin__input__field__wrapper {
    background-color: #fff;
    border: 1px solid #CBD5E1;
    border-radius: 123px;
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.signin__input__field > label {
    font-size: 0.875rem;
    font-weight: bold;
    color: #1E293B;
    margin-bottom: 8px;
}

.signin__input__field > div > input {
    outline: none;
    border: none;
    background: none;
    width: 100%;
}

.signin__input__field__showhidepassword {
    width: 19px;
}

.signin__utils {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0 24px 0;
}

.signin__remember {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    user-select: none;
    color: #1E293B;
    font-size: 0.875rem;
    font-weight: 600;
}

.signin__remember input {
    display: none;
}

.signin__remember .checkmark {
    width: 17px;
    height: 17px;
    border: 2px solid #1E293B;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.signin__remember input:checked + .checkmark {
    background-color: #4F46E5;
    border-color: #4F46E5;
}

.signin__remember input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.signin__button__facetwitgoog {
    border: 1px solid #CBD5E1;
    background-color: #fff;
    border-radius: 1234px;
    width: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #1E293B;
    font-weight: bold;
    letter-spacing: -0.7%;
    line-height: 22px;
    cursor: pointer;
    transition: .2s ease;
}

.signin__button__facetwitgoog:hover {
    background-color: #CBD5E1;
}

.signin__forgot {
    color: #4F46E5;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: -0.6%;
    line-height: 20px;
    cursor: pointer;
}

.signin__or {
    margin: 32px 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #94A3B8;
    font-size: 0.75rem;
    font-weight: 800;
    width: 100%;
}

.signin__or::before,
.signin__or::after {
    content: '';
    flex: 1;
    border-bottom: 1.4px solid #CBD5E1;
}

.signin__or::before {
    margin-right: 12px;
}
.signin__or::after {
    margin-left: 12px;
}

.signin__button__signup {
    margin-top: 24px;
    font-size: 0.875rem;
    color: #1E293B;
    letter-spacing: -0.6%;
    line-height: 20px;
    font-weight: bold;
}

.signin__button__signup span {
    color: #4F46E5;
    cursor: pointer;
}

.signin__input__field__showhidepassword {
    cursor: pointer;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

.signin__input__field__wrapper.error {
    border: 1px solid #f87171;
    animation: shake 0.2s;
}

@media (max-width:550px) {
    .auth__container {
        padding: 0 12px;
    }

    .auth__footer {
        flex-direction: column;
        padding: 10px;
    }
}

