.event {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4ddeb;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    background-color: #EEF2FF;
    padding: 12px;
    border-radius: 50%;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.info h3 {
    color: #475569;
    font-size: 14px;
    font-weight: bold;
}

.info p {
    color: #475569;
    font-size: 14px;
}

.notification {
    cursor: pointer;
}