
.rightpanel__header {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    
    border-bottom: 1px solid #d4ddeb;
}
.rightpanel__header__avatar {
    width: 48px;
    height: 48px;
}
.rightpanel__header__avatar__wrapper {
    position: relative;
}
.avatar__indicator {
    position: absolute;
    bottom: 1px;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

.rightpanel__header__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.header__icon__block {
    display: flex;
    border: 1px solid #CBD5E1;
    border-radius: 50%;
    padding: 12px;
    transition: .2s ease;
    cursor: pointer;
}
.header__icon__block:hover {
    background-color: #ececec;
}

