
.rightpanel {
    max-width: 400px;
    width: 100%;
}

.rightpanel__header {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    
    border-bottom: 1px solid #d4ddeb;
}
.rightpanel__header__avatar img {
    display: flex;
}
.rightpanel__header__avatar img {
    width: 48px;
    height: 48px;
}

.rightpanel__header__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.header__icon__block {
    display: flex;
    border: 1px solid #CBD5E1;
    border-radius: 50%;
    padding: 12px;
    transition: .2s ease;
    cursor: pointer;
}
.header__icon__block:hover {
    background-color: #ececec;
}

.rightpanel__friends {
    padding: 0 24px;
    margin-bottom: 10px;
}

.friends__header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid #d4ddeb;
}

.friends__header__title {
    font-size: 18px;
    font-weight: bold;
}
.friends__header__button {
    display: flex;
    gap: 12px;
    color: #4F46E5;
    font-size: 14px;
    font-weight: bold;
}

.suggestions__item {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4ddeb;
}

.suggested__account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.suggested__account img {
    width: 40px;
    height: 40px;
}

.suggested__account__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.suggested__account__info h3 {
    font-size: 14px;
    font-weight: bold;
}

.suggested__account__info p {
    font-size: 14px;
    font-weight: 300;
}

.rightpanel__activity {
    padding: 0 24px;
    margin-bottom: 10px;
}

.activity__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    font-size: 18px;
    font-weight: bold;
}

.activity__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEF2FF;
    height: 228px;
    border-radius: 24px;
    border: 1px solid #C7D2FE;
    padding: 24px 16px;
}

.activity__stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.followers__count {
    display: flex;
    align-items:end;
    gap: 6px;
}
.followers__count h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1E293B;
}
.followers__count p {
    font-size: 16px;
    color: #475569;
    font-weight: 500;
}

.followers__percentage {
    display: flex;
    gap: 6px;
}

.followers__percentage h3 {
    color: #15803D;
    font-size: 14px;
    font-weight: bold;
}
.followers__percentage p {
    color: #475569;
    font-size: 14px;
    font-weight: 500;
}

.activity__text {
    color: #475569;
    font-size: 14px;
    font-weight: 500;
}

.activity__avatars img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: -10px;
    transition: all 0.2s;
}
.activity__avatars img:first-child {
    margin-left: 0;
}

.activity__avatars img:hover {
    transform: scale(1.1);
    z-index: 10;
}

.activity__avatars {
    display: flex;
    align-items: center;
}


.rightpanel__events {
    padding: 0 24px;

}

.events__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d4ddeb;
}

.event__item {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4ddeb;
}

.event__content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event__icon {
    background-color: #EEF2FF;
    padding: 12px;
    border-radius: 50%;
    display: flex;
}

.event__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.event__info h3 {
    color: #475569;
    font-size: 14px;
    font-weight: bold;
}

.event__info p {
    color: #475569;
    font-size: 14px;
}