
.post {
    margin: 16px 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    max-width: 696px;
    border-radius: 40px;
    box-shadow: 3px 2px 9px -2px rgba(0, 0, 0, 0.3);
    user-select: none;
}


/* POST HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(228, 221, 221);
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}
.user img {
    width: 45px;
    height: 45px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.userInfo h3 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0;
}
.userInfo p {    
    font-size: 0.875rem;
    font-weight: 200;
    margin: 0;
}

.postOptions {
    height: fit-content;
    border: none;
    background: none;
    cursor: pointer;
}


/* POST FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgb(228, 221, 221);
}

.footer img {
    width: 45px;
    height: 45px;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.form input {
    border-radius: 30px;
    border: 1px solid rgb(228, 221, 221);
    padding: 13px;
    width: 100%;
    outline: none;
    font-size: 0.875rem;
    font-weight: 500;
}

.footerActions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerActions button {
    border: 1px solid rgb(228, 221, 221);
    border-radius: 50%;
    padding: 9px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease;
}
.footerActions button:hover {
    background-color: #ececec;
}

.footerActions img {
    width: 24px;
    height: 24px;
}

.emojiButtonWrapper {
    position: relative;
}


/* POST FACE */
.content {
    padding: 20px;
}

.postText {
    margin: 0 0 17px;
    font-size: 0.875rem;
    color: #1E293B;
    line-height: 160%;
    user-select:text;
}

.postImageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postImage {
    border-radius: 16px;
    max-width: 100%;
    max-height: 600px;
    display: block;
    margin: 0 auto;  
}

.postActions {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 10px;
    font-size: 0.875rem;
}

.postActions > :last-child{
    margin-left: auto;
}

.actionsButton {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: none;
    color: #1E293B;
    font-weight: 500;
}


.likeAnimation {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
    opacity: 1;
    animation: fadeHeart 1s ease-out forwards;
}

@keyframes fadeHeart {
    0% {
        transform: scale(0.3);
        opacity: 0.8;
    }
    30% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
