*, *::before, *::after {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;  
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


button, input {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
  max-width: 698px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  width: 100%;
}


.navbar {
  max-width: 400px;
  width: 100%;
  padding: 20px 16px;

}

.rightpanel {
  max-width: 400px;
  width: 100%;
  
}

.scroll__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.scroll__btn.left {
    left: 10px;
}

.scroll__btn.right {
    right: 10px;
}


@media (max-width: 1000px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    overflow-y: auto;
    overscroll-behavior: contain;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: .3s ease-in-out;
  }
  .navbar.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  .rightpanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    overflow-y: auto;
    overscroll-behavior: contain;
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
    transition: .3s ease-in-out;
  }

  .rightpanel.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

