*, *::before, *::after {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button, input {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
  max-width: 698px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  
  width: 100%;

}